.our-courses-container {
  margin: auto;
  width: 85%;
  margin-top: 2vmax;
  font-family: 'Poppins', sans-serif;
}
.courses-subtitle{
        color: #00e3e3;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px; 
  text-align: center; 
}
.courses-heading {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #0e2e50;
}

.courses-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.course-card {
  background: #fff;
  width: 410px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-image {
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.tag {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px 14px;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  border-radius: 4px;
}

.tag-drawing {
  background-color: #f89d36;
}

.tag-english {
  background-color: #3ec1d5;
}

.tag-design {
  background-color: #f55375;
}

.price {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 6px 10px;
  font-weight: 600;
  border-radius: 3px;
}

.course-info {
  padding: 20px;
}

.course-meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-bottom: 15px;
  color: #555;
  border-bottom: 1px solid #bdbdbd;
}

.course-info h3 {
  font-size: 20px;
  margin: 18px 0;
  color: #0e2e50;
  font-weight: 600;
}

.course-info p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.course-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #444;
}
