.footer {
  background-color: #111920;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 20px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  gap: 40px;
  justify-content: space-between;
  padding-bottom: 30px;
}
.footer-col {
  flex: 1 1 220px;
  min-width: 220px;
}
.logo-col .logo {
  font-size: 26px;
  font-weight: bold;
  color: #d7711cbd;
  margin-bottom: 15px;
}

.logo-col .logo img{
  width: 85px;
  height: 80px;
}
.footer-col h3 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
}
.footer-col p {
  font-size: 14px;
  line-height: 1.8;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.footer-links a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}
.footer-links a:hover {
  color: #d7711cbd;
}
.footer-socials {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
.footer-socials svg {
  background: #222c35;
  padding: 10px;
  border-radius: 50%;
  font-size: 38px;
  transition: 0.3s ease;
  cursor: pointer;
}

.footer-socials svg:hover {
  background: #d7711cbd;
  color: #fff;
}

.newsletter {
  margin-top: 15px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  max-width: 280px;
}
.newsletter input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 14px;
}
.newsletter button {
  background: #d7711cbd;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
}

hr {
  margin: 30px 0 15px;
  border-color: #d1d1d1;
  width: 85%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  flex-wrap: wrap;
  width: 85%;
  padding-top: 20px;
}

.footer-bottom a {
  color: #fff;
  margin-left: 8px;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
